
    
    .agrupar0 {
        border: 2px solid yellowgreen;
       
    }

    .principal {
        background-color: purple;
      
    }
    
    .principal h1 {
        font-size: 35px;
    }

    .principal p {
        font-size: 20px;
    }

    .nav1 {
        background-color: green;
        display: flex;
        justify-content: space-around;
       
    }

    .nav1 li { 
       
       
    }

    .agrupart {
        border: 2px dotted orangered;
     
    }
    
    .tituloart {
        border: 2px solid black;
      
    }

    .green {
        border: 2px solid gray;
      
    }

    .contenedor {
        display: inline-flex

    }
   
    .imag1 {
        width: 450px;
       

    }

    .contenedor p {
        text-align: center;
        border: 2px solid violet;
       
    }
